body,
html {
    // height: 100%;
    margin: 0;
    padding: 0;
    // background: rgba(0,0,0,0.1);
    // font-family: 'Cormorant', serif;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    overflow-x: hidden;
    // -webkit-transform: translate3d(0,0,0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.hideBg {
    background: none;
}

a,
a:hover,
a:active,
a:focus {
    /* styling for any way a link is about to be used */
    outline: 0;
}
//test

// body:not(.home){
//     font-size: 0.1em !important;
// }

// .visible{
//     visibility: visible;
// }
// .hidden{
//     visibility: hidden;
// }