@import 'css/src/utils/_mixins';
@import 'css/src/utils/_variables';
// Used to deal with noscript
// allows menu opening by hovering
// TODO is closing menu possible somehow ?
#site-navigation:hover {
    background-color: rgba(darken($rose, 12), 0.84);
}

.menu {
    .menu-additional.menu-additional {
        // visibility: visible;
        font-size: 1em !important;
        >* {
            color: #ffffff;
            display: block;
            position: initial;
        }
    }
    >* {
        text-align: center;
    }
}

// Once whole bar hovered
.main-navigation:hover {
    // display: flex;
    // visibility: visible;
    position: fixed;
    height: 100vh;
    // transform: translateY(-50%);
    transition: .2s;
    // opacity: 0.8;
    // flex-direction: column;
    // justify-content: flex-start;
    // visibility: hidden;
    ul {
        // display: flex;
        width: 100vw;
        height: calc(90vh - 50px);
        flex-direction: column;
        justify-content: space-between;
        display: flex;
        // flex-direction: column;
        // align-items: space-between;
        // opacity: initial; 
        padding: 0;
        margin: 0;
        visibility: visible;
        // justify-content: flex-start;
        @for $i from 2 through 9 {
             :nth-child(#{$i})>* {
                animation-delay: ($i * 0.08) - ($i * $i * 0.005s);
            }
        }
        >li {
            visibility: hidden;
            font-size: 1.6em;
            >* {
                color: white;
                text-decoration: none;
                // centrowanie
                position: absolute;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
                animation: fadeInRight 0.5s ease forwards;
            }
        }
        .owner-name {
            font-weight: 400;
        }
    }
    // Change hamburger behavior
    .hamburger {
        // transform: rotate(0);
        // height: 24px;
        // padding-top: 2px;
        // padding-bottom: 4px;
        $collapsedTop: 12;
        // background-color: purple;
        span {
            // width: 9px;
            border-radius: 1px;
            background: darken(white, 20); //lighten($rose, 70);
            // will-change: transform;
            height: 6px; // poszerza sie
            // transition: opacity 0.2s;
            $transformY: 11px;
            $transformX: 10px;
            &:nth-child(1) {
                width: 100%;
                transform: rotate(45deg) translateX($transformX) translateY($transformY);
            }
            &:nth-child(2) {
                transform: translateX(0);
                // width: 0%;
                opacity: 0;
            }
            &:nth-child(3) {
                width: 100%;
                transform: rotate(-45deg) translateX(-$transformX) translateY($transformY);
                // top: $collapsedTop + px;
            }
        }
    }
}

// do not use background z-index swapping - set static
.widget-area.widget-area::before {
    z-index: -2;
}