.hamburger {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 45px;
    height: 36px;
    position: fixed;
    cursor: pointer;
    // transition: .3s ease-out;
    will-change: transform;
    // transform: rotate(0);
    // display: flex;
    // flex-direction: column;
    //   background: blueviolet;
    //   margin-right: 10px;
    z-index: 123;
    // left: 9vw; //90
    top: 7px; //5
    right: 9px;
    overflow: hidden;
    @include respond-to(medium) {
        visibility: hidden;
    }
    &.collapsed {
        // transform: rotate(0);
        // height: 24px;
        // padding-top: 2px;
        // padding-bottom: 4px;
        $collapsedTop: 12;
        // background-color: purple;
        span {
            // width: 9px;
            border-radius: 1px;
            background: darken($white, 20); //lighten($rose, 70);
            // will-change: transform;
            height: 6px; // poszerza sie
            // transition: opacity 0.2s;
            $transformY: 11px;
            $transformX: 10px;
            &:nth-child(1) {
                width: 100%;
                transform: rotate(45deg) translateX($transformX) translateY($transformY);
            }
            &:nth-child(2) {
                transform: translateX(0);
                // width: 0%;
                opacity: 0;
            }
            &:nth-child(3) {
                width: 100%;
                transform: rotate(-45deg) translateX(-$transformX) translateY($transformY);
                // top: $collapsedTop + px;
            }
        }
    }
    span {
        transform: rotate(0deg);
        will-change: transform;
        display: block;
        position: absolute;
        height: 7px;
        width: 100%;
        background: white;
        border-radius: 9px;
        opacity: 1;
        transition: transform .25s ease-out, background .3s ease;
        &:nth-child(1) {
            top: 0;
            // right: 0;
            width: 100%;
            transform: translateY(0);
        }
        &:nth-child(2) {
            // top: 50%;
            transform: translateY(14px);
        }
        &:nth-child(3) {
            width: 100%;
            // top: 100%;
            // right: 0;
            transform: translateY(28px);
        }
    }
}

// #hamburger:hover {
//     // opacity: 0.8;
//     transform: rotate(0);
// }